# 데이터 구성
* 일자별 센서 데이터
    1. DP01_2_날짜
    2. TH01_0_날짜
    3. TH02_1_날짜
    4. 노광1호기130_날짜
    5. 노광2호기131_날짜
    6. 노광4호기132_날짜
    7. 노광5호기133_날짜
* warning 데이터 (이상치가 보인다 싶을 때 기록을 남기나봄)
    * warning_날짜

# 1. 센서데이터 기기별 병합

In [13]:
import pandas as pd
import numpy as np
import os
import datetime
import warnings

warnings.filterwarnings(action = "ignore")

In [14]:
dp_columns = ["Time","Location","DP"]
th_columns = ["Time","Location","Temperature","Humidity"]
light_expose_columns = ["Location","Time","over_0.3_delta","over_0.5_delta","over_1.0_delta","over_5.0_delta","over_0.3_sigma","over_0.5_sigma","over_1.0_sigma"]

In [15]:
dp_01_2 = pd.DataFrame(columns = dp_columns)
th_01_0 = pd.DataFrame(columns = th_columns)
th_02_1 = pd.DataFrame(columns = th_columns)
light_expose_1 = pd.DataFrame(columns = light_expose_columns)
light_expose_2 = pd.DataFrame(columns = light_expose_columns)
light_expose_4 = pd.DataFrame(columns = light_expose_columns)
light_expose_5 = pd.DataFrame(columns = light_expose_columns)

* 날짜는 2020.04.27 ~ 2020.08.11 까지

In [16]:
day_list = []
start = datetime.datetime.strptime("2020.04.27","%Y.%m.%d")
end = datetime.datetime.strptime("2020.08.12","%Y.%m.%d")
date_generated = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]
for date in date_generated:
    day_list.append(date.strftime("%Y%m%d"))

In [17]:
root = "./data/"
file_heads_df = {"DP01_2_":dp_01_2,"TH01_0_":th_01_0,"TH02_1_":th_02_1,"노광1호기130_":light_expose_1,"노광2호기131_":light_expose_2,"노광4호기132_":light_expose_4,"노광5호기133_":light_expose_5}

In [18]:
empt_list = []
for day in day_list:
    for file_head in file_heads_df:
        path = root + day + "/" + file_head + day + ".csv"
        try:
            tmp_df = pd.read_csv(path,skiprows = 1,encoding = 'euc-kr', header = None)
            tmp_df = tmp_df.dropna(axis = 1)
            if file_head == "DP01_2_":
                tmp_df.columns = dp_columns
            elif file_head in ["TH01_0_","TH02_1_"]:
                tmp_df.columns = th_columns
            else:
                tmp_df.columns = light_expose_columns
            file_heads_df[file_head] = pd.concat([file_heads_df[file_head],tmp_df])
            print(file_heads_df[file_head].shape)
        except:
            emp_list = empt_list.append(str(file_head) + str(day))
            pass

(4297, 3)
(4297, 4)
(4297, 4)
(190, 9)
(358, 9)
(358, 9)
(358, 9)
(21224, 3)
(21225, 4)
(21225, 4)
(795, 9)
(1771, 9)
(1771, 9)
(1771, 9)
(38504, 3)
(38505, 4)
(38505, 4)
(2235, 9)
(3211, 9)
(3211, 9)
(3211, 9)
(55784, 3)
(55785, 4)
(55785, 4)
(3676, 9)
(4652, 9)
(4652, 9)
(4652, 9)
(73064, 3)
(73065, 4)
(73065, 4)
(5116, 9)
(6092, 9)
(6092, 9)
(6092, 9)
(90344, 3)
(90345, 4)
(90345, 4)
(6556, 9)
(7532, 9)
(7532, 9)
(7532, 9)
(107624, 3)
(107625, 4)
(107625, 4)
(7997, 9)
(8973, 9)
(8973, 9)
(8973, 9)
(124904, 3)
(124905, 4)
(124905, 4)
(9437, 9)
(10413, 9)
(10413, 9)
(10413, 9)
(142184, 3)
(142185, 4)
(142185, 4)
(10878, 9)
(11854, 9)
(11854, 9)
(11854, 9)
(159464, 3)
(159465, 4)
(159465, 4)
(12318, 9)
(13294, 9)
(13294, 9)
(13294, 9)
(176744, 3)
(176745, 4)
(176745, 4)
(13758, 9)
(14734, 9)
(14734, 9)
(14734, 9)
(194024, 3)
(194025, 4)
(194025, 4)
(15199, 9)
(16175, 9)
(16175, 9)
(16175, 9)
(211304, 3)
(211305, 4)
(211305, 4)
(16639, 9)
(17615, 9)
(17615, 9)
(17615, 9)
(228584, 3)
(228585, 4)
(228585, 4)
(18080, 9)
(19055, 9)
(19055, 9)
(19056, 9)
(245864, 3)
(245865, 4)
(245865, 4)
(19520, 9)
(20496, 9)
(20496, 9)
(20496, 9)
(263144, 3)
(263145, 4)
(263145, 4)
(20960, 9)
(21936, 9)
(21936, 9)
(21936, 9)
(280424, 3)
(280425, 4)
(280425, 4)
(22401, 9)
(23376, 9)
(23376, 9)
(23377, 9)
(297704, 3)
(297705, 4)
(297705, 4)
(23841, 9)
(24817, 9)
(24817, 9)
(24817, 9)
(314984, 3)
(314985, 4)
(314985, 4)
(25281, 9)
(26257, 9)
(26257, 9)
(26257, 9)
(332264, 3)
(332265, 4)
(332265, 4)
(26722, 9)
(27698, 9)
(27698, 9)
(27698, 9)
(349544, 3)
(349545, 4)
(349545, 4)
(28162, 9)
(29138, 9)
(29138, 9)
(29138, 9)
(366824, 3)
(366825, 4)
(366825, 4)
(29603, 9)
(30578, 9)
(30578, 9)
(30579, 9)
(384104, 3)
(384105, 4)
(384105, 4)
(31043, 9)
(32019, 9)
(32019, 9)
(32019, 9)
(401384, 3)
(401385, 4)
(401385, 4)
(32483, 9)
(33459, 9)
(33459, 9)
(33459, 9)
(418664, 3)
(418665, 4)
(418665, 4)
(33924, 9)
(34899, 9)
(34899, 9)
(34900, 9)
(435944, 3)
(435945, 4)
(435945, 4)
(35364, 9)
(36340, 9)
(36340, 9)
(36340, 9)
(453224, 3)
(453225, 4)
(453225, 4)
(36804, 9)
(37780, 9)
(37780, 9)
(37780, 9)
(470504, 3)
(470505, 4)
(470505, 4)
(38245, 9)
(39220, 9)
(39221, 9)
(39221, 9)
(487784, 3)
(487785, 4)
(487785, 4)
(39685, 9)
(40661, 9)
(40661, 9)
(40661, 9)
(505064, 3)
(505065, 4)
(505065, 4)
(41125, 9)
(42101, 9)
(42101, 9)
(42102, 9)
(522344, 3)
(522345, 4)
(522345, 4)
(42566, 9)
(43541, 9)
(43542, 9)
(43542, 9)
(539624, 3)
(539625, 4)
(539625, 4)
(44006, 9)
(44982, 9)
(44982, 9)
(44982, 9)
(556904, 3)
(556905, 4)
(556905, 4)
(45446, 9)
(46422, 9)
(46422, 9)
(46423, 9)
(574184, 3)
(574185, 4)
(574185, 4)
(46887, 9)
(47862, 9)
(47863, 9)
(47863, 9)
(591464, 3)
(591465, 4)
(591465, 4)
(48327, 9)
(49303, 9)
(49303, 9)
(49303, 9)
(608744, 3)
(608745, 4)
(608745, 4)
(49768, 9)
(50743, 9)
(50743, 9)
(50744, 9)
(626024, 3)
(626025, 4)
(626025, 4)
(51208, 9)
(52183, 9)
(52184, 9)
(52184, 9)
(643304, 3)
(643305, 4)
(643305, 4)
(52648, 9)
(53624, 9)
(53624, 9)
(53624, 9)
(660584, 3)
(660585, 4)
(660585, 4)
(54089, 9)
(55064, 9)
(55065, 9)
(55065, 9)
(677864, 3)
(677865, 4)
(677865, 4)
(55529, 9)
(56505, 9)
(56505, 9)
(56505, 9)
(695144, 3)
(695145, 4)
(695145, 4)
(56969, 9)
(57945, 9)
(57945, 9)
(57946, 9)
(712424, 3)
(712425, 4)
(712425, 4)
(58410, 9)
(59385, 9)
(59386, 9)
(59386, 9)
(729704, 3)
(729705, 4)
(729705, 4)
(59850, 9)
(60826, 9)
(60826, 9)
(60826, 9)
(746984, 3)
(746985, 4)
(746985, 4)
(61291, 9)
(62266, 9)
(62266, 9)
(62267, 9)
(764264, 3)
(764265, 4)
(764265, 4)
(62731, 9)
(63706, 9)
(63707, 9)
(63707, 9)
(781544, 3)
(781545, 4)
(781545, 4)
(64171, 9)
(65147, 9)
(65147, 9)
(65148, 9)
(798821, 3)
(798822, 4)
(798822, 4)
(65612, 9)
(66587, 9)
(66587, 9)
(66588, 9)
(816096, 3)
(816097, 4)
(816097, 4)
(67052, 9)
(68028, 9)
(68028, 9)
(68028, 9)
(833360, 3)
(833361, 4)
(833361, 4)
(68493, 9)
(69468, 9)
(69468, 9)
(69469, 9)
(850630, 3)
(850631, 4)
(850631, 4)
(69933, 9)
(70908, 9)
(70909, 9)
(70909, 9)
(867882, 3)
(867883, 4)
(867883, 4)
(71373, 9)
(72349, 9)
(72349, 9)
(72349, 9)
(872747, 3)
(872748, 4)
(872748, 4)
(71789, 9)
(72764, 9)
(72764, 9)
(72765, 9)
(73025, 9)
(73998, 9)
(73999, 9)
(74000, 9)
(74465, 9)
(75438, 9)
(75439, 9)
(75440, 9)
(75905, 9)
(76878, 9)
(76879, 9)
(76880, 9)
(77345, 9)
(78318, 9)
(78319, 9)
(78320, 9)
(78785, 9)
(79758, 9)
(79759, 9)
(79760, 9)
(80225, 9)
(81198, 9)
(81199, 9)
(81200, 9)
(81664, 9)
(82638, 9)
(82639, 9)
(82640, 9)
(83105, 9)
(84078, 9)
(84079, 9)
(84080, 9)
(872825, 3)
(872826, 4)
(872826, 4)
(83958, 9)
(84932, 9)
(84932, 9)
(84933, 9)
(882368, 3)
(882369, 4)
(882369, 4)
(131638, 9)
(132612, 9)
(132611, 9)
(132613, 9)
(899648, 3)
(899649, 4)
(899649, 4)
(218051, 9)
(219025, 9)
(219025, 9)
(219027, 9)
(916928, 3)
(916929, 4)
(916929, 4)
(304464, 9)
(305438, 9)
(305437, 9)
(305442, 9)
(933834, 3)
(933836, 4)
(933835, 4)
(388373, 9)
(389347, 9)
(389347, 9)
(389352, 9)
(951114, 3)
(951116, 4)
(951115, 4)
(474796, 9)
(475769, 9)
(475768, 9)
(475775, 9)
(968394, 3)
(968396, 4)
(968395, 4)
(561218, 9)
(562191, 9)
(562190, 9)
(562198, 9)
(985674, 3)
(985676, 4)
(985675, 4)
(647641, 9)
(648613, 9)
(648612, 9)
(648621, 9)
(1002954, 3)
(1002956, 4)
(1002955, 4)
(734064, 9)
(735035, 9)
(735035, 9)
(735044, 9)
(1020234, 3)
(1020236, 4)
(1020235, 4)
(820487, 9)
(821457, 9)
(821457, 9)
(821467, 9)
(1037513, 3)
(1037515, 4)
(1037514, 4)
(906910, 9)
(907879, 9)
(907879, 9)
(907890, 9)
(1054793, 3)
(1054795, 4)
(1054794, 4)
(993332, 9)
(994302, 9)
(994302, 9)
(994313, 9)
(1063179, 3)
(1063181, 4)
(1063180, 4)
(1034660, 9)
(1035628, 9)
(1035647, 9)
(1035631, 9)
(1068215, 3)
(1068217, 4)
(1068216, 4)
(1059852, 9)
(1060820, 9)
(1060838, 9)
(1060823, 9)
(1085495, 3)
(1085497, 4)
(1085496, 4)
(1146274, 9)
(1147242, 9)
(1147260, 9)
(1147246, 9)
(1102775, 3)
(1102777, 4)
(1102776, 4)
(1232697, 9)
(1233664, 9)
(1233681, 9)
(1233668, 9)
(1120055, 3)
(1120057, 4)
(1120056, 4)
(1319119, 9)
(1320086, 9)
(1320104, 9)
(1320091, 9)
(1136214, 3)
(1136216, 4)
(1136215, 4)
(1405529, 9)
(1406493, 9)
(1406511, 9)
(1406499, 9)
(1477313, 9)
(1478277, 9)
(1478296, 9)
(1478285, 9)
(1527817, 9)
(1528783, 9)
(1528802, 9)
(1528791, 9)
(1143593, 3)
(1143595, 4)
(1143594, 4)
(1614230, 9)
(1615196, 9)
(1615213, 9)
(1615205, 9)
(1155463, 3)
(1155465, 4)
(1155464, 4)
(1673586, 9)
(1674550, 9)
(1674568, 9)
(1674560, 9)
(1172743, 3)
(1172745, 4)
(1172744, 4)
(1759999, 9)
(1760964, 9)
(1760981, 9)
(1760975, 9)
(1188717, 3)
(1188719, 4)
(1188718, 4)
(1839873, 9)
(1840837, 9)
(1840855, 9)
(1840849, 9)
(1198262, 3)
(1198264, 4)
(1198263, 4)
(1887658, 9)
(1888622, 9)
(1888639, 9)
(1888635, 9)
(1215541, 3)
(1215543, 4)
(1215542, 4)
(1974068, 9)
(1975033, 9)
(1975049, 9)
(1975047, 9)
(1232821, 3)
(1232823, 4)
(1232822, 4)
(2060480, 9)
(2061446, 9)
(2061461, 9)
(2061461, 9)
(1250101, 3)
(1250103, 4)
(1250102, 4)
(2146893, 9)
(2147858, 9)
(2147874, 9)
(2147875, 9)
(1267381, 3)
(1267383, 4)
(1267382, 4)
(2233306, 9)
(2234271, 9)
(2234286, 9)
(2234288, 9)
(1284661, 3)
(1284663, 4)
(1284662, 4)
(2319719, 9)
(2320684, 9)
(2320700, 9)
(2320702, 9)
(1301941, 3)
(1301943, 4)
(1301942, 4)
(2406133, 9)
(2407096, 9)
(2407112, 9)
(2407115, 9)
(1319219, 3)
(1319221, 4)
(1319220, 4)
(2492360, 9)
(2493332, 9)
(2493397, 9)
(2493302, 9)
(1336499, 3)
(1336501, 4)
(1336500, 4)
(2578770, 9)
(2579741, 9)
(2579806, 9)
(2579712, 9)
(1353778, 3)
(1353780, 4)
(1353779, 4)
(2659893, 9)
(2660114, 9)
(2661878, 9)
(2659706, 9)
(1371055, 3)
(1371057, 4)
(1371056, 4)
(2732023, 9)
(2727762, 9)
(2731961, 9)
(2723159, 9)
(1387458, 3)
(1387460, 4)
(1387459, 4)
(2800341, 9)
(2791611, 9)
(2803736, 9)
(2785147, 9)
(1400688, 3)
(1400690, 4)
(1400689, 4)
(2870591, 9)
(2856012, 9)
(2872962, 9)
(2849731, 9)
(1413140, 3)
(1413142, 4)
(1413141, 4)
(2936148, 9)
(2917350, 9)
(2937491, 9)
(2909741, 9)
(1424467, 3)
(1424469, 4)
(1424468, 4)
(2998969, 9)
(2978106, 9)
(3003138, 9)
(2969438, 9)
(1435303, 3)
(1435306, 4)
(1435305, 4)
(3060182, 9)
(3035508, 9)
(3063425, 9)
(3024911, 9)
(1446048, 3)
(1446050, 4)
(1446049, 4)
(3118580, 9)
(3089903, 9)
(3121923, 9)
(3077655, 9)
(1457610, 3)
(1457612, 4)
(1457611, 4)
(3172696, 9)
(3139015, 9)
(3175136, 9)
(3125747, 9)
(1463251, 3)
(1463253, 4)
(1463252, 4)
(3198614, 9)
(3162796, 9)
(3200022, 9)

(3148798, 9)

In [19]:
empt_list

['DP01_2_20200618',
 'TH01_0_20200618',
 'TH02_1_20200618',
 'DP01_2_20200619',
 'TH01_0_20200619',
 'TH02_1_20200619',
 'DP01_2_20200620',
 'TH01_0_20200620',
 'TH02_1_20200620',
 'DP01_2_20200621',
 'TH01_0_20200621',
 'TH02_1_20200621',
 'DP01_2_20200622',
 'TH01_0_20200622',
 'TH02_1_20200622',
 'DP01_2_20200623',
 'TH01_0_20200623',
 'TH02_1_20200623',
 'DP01_2_20200624',
 'TH01_0_20200624',
 'TH02_1_20200624',
 'DP01_2_20200625',
 'TH01_0_20200625',
 'TH02_1_20200625',
 'DP01_2_20200627',
 'TH01_0_20200627',
 'TH02_1_20200627',
 '노광1호기130_20200627',
 '노광2호기131_20200627',
 '노광4호기132_20200627',
 '노광5호기133_20200627',
 'DP01_2_20200628',
 'TH01_0_20200628',
 'TH02_1_20200628',
 '노광1호기130_20200628',
 '노광2호기131_20200628',
 '노광4호기132_20200628',
 '노광5호기133_20200628',
 'DP01_2_20200711',
 'TH01_0_20200711',
 'TH02_1_20200711',
 '노광1호기130_20200711',
 '노광2호기131_20200711',
 '노광4호기132_20200711',
 '노광5호기133_20200711',
 'DP01_2_20200712',
 'TH01_0_20200712',
 'TH02_1_20200712',
 '노광1호기130_20200712',
 '노광2호기131_20200712',
 '노광4호기132_20200712',
 '노광5호기133_20200712',
 'DP01_2_20200718',
 'TH01_0_20200718',
 'TH02_1_20200718',
 'DP01_2_20200719',
 'TH01_0_20200719',
 'TH02_1_20200719']

In [20]:
dp_01_2 = file_heads_df["DP01_2_"]
th_01_0 = file_heads_df["TH01_0_"]
th_02_1 = file_heads_df["TH02_1_"]
light_expose_1 = file_heads_df["노광1호기130_"]
light_expose_2 = file_heads_df["노광2호기131_"]
light_expose_4 = file_heads_df["노광4호기132_"]
light_expose_5 = file_heads_df["노광5호기133_"]

In [21]:
print(dp_01_2.shape)
print(th_01_0.shape)
print(th_02_1.shape)
print(light_expose_1.shape)
print(light_expose_2.shape)
print(light_expose_4.shape)
print(light_expose_5.shape)

(1463251, 3)
(1463253, 4)
(1463252, 4)
(3198614, 9)
(3162796, 9)
(3200022, 9)
(3148798, 9)

In [22]:
def strip_date(df, my_format = "%Y-%m-%d %H:%M:%S"):
    df["Time"] = pd.to_datetime(df["Time"],format = my_format)

    df["month"] = list(map(lambda x: x.month,df["Time"]))
    df["day"] = list(map(lambda x: x.day,df["Time"]))
    df["weekday"] = list(map(lambda x: x.weekday(),df["Time"]))
    df["hour"] = list(map(lambda x: x.hour,df["Time"]))
    df["minute"] = list(map(lambda x: x.minute,df["Time"]))
    df["second"] = list(map(lambda x: x.second,df["Time"]))
    return df

In [24]:
dp_01_2 = strip_date(dp_01_2)
th_01_0 = strip_date(th_01_0)
th_02_1 = strip_date(th_02_1)
light_expose_1 = strip_date(light_expose_1,my_format = "%Y%m%d%H%M%S")
light_expose_2 = strip_date(light_expose_2,my_format = "%Y%m%d%H%M%S")
light_expose_4 = strip_date(light_expose_4,my_format = "%Y%m%d%H%M%S")
light_expose_5 = strip_date(light_expose_5,my_format = "%Y%m%d%H%M%S")

In [25]:
file_names = list(file_heads_df.keys())
save_root_path = "./preprocessed/"
save_path = list(map(lambda x: save_root_path + x + ".csv", file_names))
df_list = [dp_01_2,th_01_0,th_02_1,light_expose_1,light_expose_2,light_expose_4,light_expose_5]

for i in range(len(save_path)):
    df_list[i].to_csv(save_path[i])

# 2. Warning데이터 병합

In [27]:
os.curdir

'.'

In [28]:
par_path = os.curdir + "/data/Warning/"

In [29]:
warning_list = os.listdir("./data/Warning/")
warning_df = pd.DataFrame(columns = light_expose_columns)

In [30]:
for warning in warning_list:
    path = par_path + warning
    tmp_df = pd.read_csv(path,encoding = "euc-kr",header = None,skiprows = 1)
    tmp_df = tmp_df.dropna(axis = 1)
    tmp_df.columns = light_expose_columns
    warning_df = pd.concat([warning_df,tmp_df])

In [32]:
warning_df.head()

,Location,Time,over_0.3_delta,over_0.5_delta,over_1.0_delta,over_5.0_delta,over_0.3_sigma,over_0.5_sigma,over_1.0_sigma
0,노광4호기132,20200428002729,4224,3800,2316,25,10365,6141,2341
1,노광4호기132,20200428130917,4140,2024,385,0,6549,2409,385
2,노광4호기132,20200428131017,4628,2170,385,1,7184,2556,386
3,노광5호기133,20200428132113,153,27,4,0,184,31,4
4,노광4호기132,20200428132117,392,131,24,0,547,155,24

In [34]:
warning_df = strip_date(warning_df,my_format = "%Y%m%d%H%M%S")
warning_df.head()

,Location,Time,over_0.3_delta,over_0.5_delta,over_1.0_delta,over_5.0_delta,over_0.3_sigma,over_0.5_sigma,over_1.0_sigma,month,day,weekday,hour,minute,second
0,노광4호기132,2020-04-28 00:27:29,4224,3800,2316,25,10365,6141,2341,4,28,1,0,27,29
1,노광4호기132,2020-04-28 13:09:17,4140,2024,385,0,6549,2409,385,4,28,1,13,9,17
2,노광4호기132,2020-04-28 13:10:17,4628,2170,385,1,7184,2556,386,4,28,1,13,10,17
3,노광5호기133,2020-04-28 13:21:13,153,27,4,0,184,31,4,4,28,1,13,21,13
4,노광4호기132,2020-04-28 13:21:17,392,131,24,0,547,155,24,4,28,1,13,21,17

In [35]:
warning_df.to_csv("./preprocessed/warning.csv")